<!DOCTYPE html>
<html>
    <head>
        <title><%- title %></title>

        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'></script>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        <!-- Stylesheets from your assets folder are included here -->
        <%- assets.css() %>
    </head>

    <body>
        <%- body %>

        <!-- Templates from your view path are included here -->
        <%- assets.templateLibrary() %>

        <!-- Javascripts from your assets folder are included here -->
        <%- assets.js() %>
    </body>
</html>
