<script type='text/x-underscore-template' id='main-view'>
    <div class='reader'>
    <% _.each(items.reverse(), function(item){%>
        <% if (item.visible && item.filter){ %>
            <div class='unread-item <%=
                    item.read ? 'read' : ''
                %> <%= 
                    item.selected ? 'selected' : '' 
                %>' data-id='<%= item.feedItemId %>'>
                <a class='item-link' href='<%= item.link %>' target='_blank'>
                    <%= item.title %>
                </a>
                <span><%= item.summary %></span>
            </div>
        <% } %>
    <% }) %>
    </div>
</script>