<script type='text/x-underscore-template' id='sidebar-view'>
<div class='divider'></div>
    <% if (!minimized) { %>
        <div class='minimize'>&lt;&lt;</div>
        <div class='add-feed'>+</div>
        <div class='import'>import</div>
        <div class='edit'><% if (!editing) { %>edit<% } else { %>done<% } %></div>
        <form class="pure-form pure-form-stacked add-feed-form">
            <fieldset>
                <label for="url"></label>
                <input name="url">
                
                <label for="folder">Folder (optional)</label>
                <input name="folder">
                <br><br>
                <button type="submit" class="pure-button notice">Submit</button>
            </fieldset>
        </form>
        <form class="pure-form pure-form-stacked import-form">
            <fieldset>
                <label for="file">Google Reader subscriptions.xml</label>
                <input name="file" type='file' class='import-form-file'>
            </fieldset>
        </form>
        <div class='all-items'>All Items</div>
        <% _.each(folders, function(folder){%>
            <% if (folder.name !== '__main__') { %>
                <div class='folder' >
                <% if (editing) { %>
                    <div class='delete' data-id='<%= folder.name %>' data-type='folder'></div>
                <% } %>
                    <span class='folder-text' data-id='<%= folder.name %>'>-- <%= folder.name %> --</span>
            <%}%>
                    <% _.each(folder.feeds, function(feed){%>
                        <div class='feed' data-id='<%= feed.feedId %>' title='<%= feed.name %>'>
                            <% if (editing) { %>
                                <div class='delete' data-id='<%= feed.feedId %>' data-type='feed'></div>
                            <% } %>
                            <%= feed.name.replace('http://','').replace('https://','').replace('www.','').replace('feeds.feedburner.com/','') %>
                        </div>
                    <%})%>
            <% if (folder.name !== '__main__') {%>
                </div>
            <%}%>
        <%})%>
    <% } %>
</script>